.logo{ 
    border-radius: 26px;
    box-sizing: border-box;
    padding: 0.8rem 1.6rem;
    position: relative;
    overflow: hidden;
    max-width: 180px;
    
    & img{
        display: block;
        width: 100%;
        max-width: 180px;
        margin: auto;
    }
    & h1{
        position: relative;
        z-index: 2;
    }
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%; 
        background: #ffffff;
        backdrop-filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border: 1px solid #F2F2F2;
    }
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 2rem;
    z-index: 3;

    & .col-md-8{
        display: flex;
        align-items: center;
    }

    & .navBarMenu{ 
        position: relative;
        width: 100%; 
        border-radius: 20px;
        padding: 1rem 2rem;
        overflow: hidden;
        border: 1px solid #F2F2F2;
        & ul{ 
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            gap: 16px;
            position: relative;
            z-index: 2;
            & li{
                text-transform: uppercase;
                & a{
                     
                    color: var(--secondary-1-1);
                    opacity: 0.8;
                    transition:all 0.3s;
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        width: 0%;
                        height: 1px; 
                        position: absolute;
                        transition: all 0.3s;
                    }

                    &:hover, &.active{ 
                        color: var(--primary);
                        &:after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: var(--primary);
                            position: absolute;
                        }
                        
                    }
                }
            }
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%; 
            background: rgb(255 255 255 / 71%);
            backdrop-filter: blur(10px);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            
        }
    }
}
.main{
    min-height: 94vh;
}

.footer{
    background-color: var(--secondary-6);
    color: var(--terciary-8);
    padding: 2rem 1rem;
    & .logoFooter{
        & img{
            display: block;
            width: 100%;
            max-width: 220px;
        }
    }
}

.Hero{
    background: url(../../public/bghome.png);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 0 33%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10%;
    .box{
        overflow: hidden;
        width: 46vw;
        position: relative;
        z-index: 2;
    }
    & .titleHome{
        color: var(--primary);
        font-family: "NoirHeavy";
        font-size: 5vw;
        width: 46vw; 
    }
}

//// slider hero home
/// 
.mySwiperHero{
    & .swiper-button-prev{
        left: 82%;
        top: 86%;
        position: absolute;
        z-index: 100;
        padding: 1rem 1.8rem;
        border-radius: 26px;
        background-color: var(--terciary-8);
        color: var(--primary);
        &:after{
            font-size: 1.4rem;
        }
        
    }
    & .swiper-button-next{
        right: 2%;
        top: 86%;
        position: absolute;
        z-index: 100;
        padding: 1rem 1.8rem;
        border-radius: 26px;
        background-color: var(--terciary-8);
        color: var(--primary);
        &:after{
            font-size: 1.4rem;
        }
        
    }
}
.brochure{
    background-color: var(--primary);
    color: var(--terciary-8) !important;
    padding:0.5rem 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform:capitalize;
    position: relative;
    padding-right: 50px;
    &:hover::after, &.active::after{
        display: none !important;
    }
    i{ 
        background-color: var(--secondary-1-1);
        position: absolute;
        right: 0;
        box-sizing: border-box;
        padding: 8px 12px;
        border-radius: 20px;
    }
}
.boxDes{
    background-color: var(--terciary-9);
    padding: 1.6rem 3rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.boxMarksOne{
    background-color: var(--terciary-8);
    border: 1px solid var(--terciary-9);
    padding: 1rem;
    border-radius: 22px;
    & .swiper-slide{
        min-height: 54px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

.gap-2{
gap: 40px;    
}