
@media only screen and (max-width:1370px) and (min-width: 1024px) {
  .cardItem{
    max-width: 370px; 
  }
 }
 @media only screen and (min-width: 1024px) {
  .menuToggle {
      display: none;
  }
 }
//// <600px
@media only screen and (max-width: 600px) {
   .mdLogo{
    width: auto;
   }
   .navBarMenu{
    display: none;
   }
   .Hero{
    padding-top: 140px;
   }
  }

 